#imagine1 {
    grid-area: item1;
}

#imagine2 {
    grid-area: item2;
}

#imagine3 {
    grid-area: item3;
}

#imagine4 {
    grid-area: item4;
}

#imagine5 {
    grid-area: item5;
}

#imagine6 {
    grid-area: item6;
}

#imagine7 {
    grid-area: item7;
}

#imagine8 {
    grid-area: item8;
}
#imagine9 {
    grid-area: item9;
}
#imagine10 {
    grid-area: item10;
}
#imagine11 {
    grid-area: item11;
}
#imagine12 {
    grid-area: item12;
}
#imagine13 {
    grid-area: item13;
}
#imagine14 {
    grid-area: item14;
}
#imagine15 {
    grid-area: item15;
}
.imagine{
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    
}
.imagine img{
    width: 100%;
}
.grid-galerie-statica {
    grid-template-columns: 33.3% 33.3% 33.3%;
    /*background-image:linear-gradient(transparent 10%, transparent 30%, white 50%, transparent 70%, white 90%);
    background-repeat: no-repeat;
    background-attachment: fixed; /* background-ul va ramane fix cand dam scroll
    background-size: cover;*/
    display: grid;
    grid-template-areas:
        'item1 item2 item3'
        'item4 . item5'
        'item6 item7 item8'
        'item9 . item10'
        'item11 item12 item13';
    margin: 0 auto;
    width: 100%;
}

@media only screen and (max-width: 920px)
{
    .grid-galerie-statica {
        grid-template-columns: 50% 50%;
        /*background-image:linear-gradient(transparent 10%, transparent 30%, white 50%, transparent 70%, white 90%);
        background-repeat: no-repeat;
        background-attachment: fixed; /* background-ul va ramane fix cand dam scroll
        background-size: cover;*/
        display: grid;
        grid-template-areas:
            'item1 item2'
            'item3 item4'
            'item5 item6'
            'item7 item8'
            'item9 item10'
            'item11 item12';
        margin: 0 auto;
        width: 100%;
    }
}

@media only screen and (max-width: 450px)
{
    .grid-galerie-statica {
        grid-template-columns: 100%;
        /*background-image:linear-gradient(transparent 10%, transparent 30%, white 50%, transparent 70%, white 90%);
        background-repeat: no-repeat;
        background-attachment: fixed; /* background-ul va ramane fix cand dam scroll
        background-size: cover;*/
        display: grid;
        grid-template-areas:
            'item1' 'item2'
            'item3' 'item4'
            'item5' 'item6'
            'item7' 'item8'
            'item9' 'item10'
            'item11' 'item12';
        margin: 0 auto;
        width: 100%;
    }
}