<!DOCTYPE html>
<html lang="ro">
    <head>
        <%- include('../fragmente/head'); %>
    </head>
    
    <body >
        <div class="grid-container">
            <header id="header">
                <%- include('../fragmente/header'); %>
            </header>

            <article id="contact" class="item1">

                <h2>Ne pare rau, pagina ceruta nu a fost gasita</h2>

            </article>

            <footer>
                <%- include('../fragmente/footer'); %>
            </footer>
        </div>
    </body>
</html>
