<!DOCTYPE html>
<html lang="ro">
    <head>
        <%- include('../fragmente/head'); %>
    </head>
    
    <body>
        <div class="grid-container">
            <header id="header">
                <%- include('../fragmente/header'); %>
            </header>

            <nav id="mainMenu">
                <%- include('../fragmente/menu'); %>
            </nav> 
            
            <article id="contact" class="item1">

                <h2>Contact</h2>

                <h3>Dacă aveți orice fel de întrebări nu ezitați să ne contactați!<br> 
                    Ne puteți lăsa un email la adresa: EngineeringMasteryConstruct@gmail.com<br>
                    Sau ne puteți contacta telefonic la numărul: +40 767 309 788<br>
                    Ne găsiți la adresa:
                    Calea Victoriei nr. 12, Bucureşti
                    România
                </h3>
                

            </article>

            <footer>
                <%- include('../fragmente/footer'); %>
            </footer>
        </div>
    </body>
</html>
