<!DOCTYPE html>
<html lang="ro">
    <head>
        <%- include('../fragmente/head'); %>
    </head>
    
    <body >
        <div class="grid-container">
            <header id="header">
                <%- include('../fragmente/header'); %>
            </header>

            <nav id="mainMenu">
                <%- include('../fragmente/menu'); %>
            </nav> 

            <article id="about-us" class="item1">

                <h2>Despre noi</h2>

                <p>Firma <b>EngineeringMasteryConstruct</b> a luat na&#351;tere &#238;n urm&#259; cu cinci ani, c&#226;nd o echip&#259; de tineri ingineri a decis s&#259; &#238;&#351;i transforme pasiunea pentru domeniul <b>construc&#539;iilor</b> &#238;ntr-un business &#238;n care cuvintele cheie s&#259; fie <b><em>"Competen&#539;&#259;"</em></b> &#351;i <b><em>"Seriozitate"</em></b>.</p>
                <p>&#206;n prezent <b>EngineeringMasteryConstruct</b> se ocup&#259; cu proiecte de <b>dezvoltare</b> <b>imobiliar&#259;</b>, <b>construc&#539;ii</b> <b>industriale</b> &#351;i comercializarea de <b>materiale</b> de <b>construc&#539;ii</b> prin intermediul unui <b>magazin on-line</b>.</p>
                <p>Obiectivul curent al firmei este ca p&#226;n&#259; &#238;n anul 2025 aceasta s&#259; &#238;&#351;i l&#259;rgeasc&#259; zona de activitate, ajung&#226;nd s&#259; &#238;&#351;i desf&#259;&#351;oare activitatea &#351;i &#238;n &#539;&#259;ri din Europa de Vest.
                    Atingerea obictivului propus se bazeaz&#259; pe numeroasele colabor&#259;ri, &#238;ncheiate cu succes, pe care <b>EngineeringMasteryConstruct</b> le-a avut de-a lungul timpului cu diverse companii multina&#539;ionale.
                    Succesul echipei <b><abbr title= "EngineeringMasteryConstruct">EMC</abbr></b> se datoreaz&#259; faptului c&#259; at&#226;t serviciile c&#226;t &#351;i <b>materialele</b> oferite sunt <b>certificate</b> la cele mai &#238;nalte standarde <abbr title= "International Organization for Standardization">ISO</abbr>.</p>
            </article>

            

            <footer>
                <%- include('../fragmente/footer'); %>
            </footer>
        </div>
    </body>
</html>
