<hr>
<div class="to-top">
    <a href="#header" id="box"> <div id="triunghi"> </div> <span id="text-top">Începutul paginii</span></a>
    <!-- <a href="#header">&#206;nceputul paginii</a> -->
</div>
<address>
    Contacta&#539;i-ne la adresa de email <a href="mailto:emc@gmail.com" target="_blank">EngineeringMasteryConstruct</a>.<br>
    Suna&#539;i-ne la nr. tel. <a href="tel:+40767309788">+40 767 309 788</a><br>
    Vizita&#539;i-ne la adresa:<br>
    Calea Victoriei nr. 12, Bucure&#351;ti<br>
    Rom&acirc;nia
</address>
<small class="copyright">&copy; EngineeringMasteryConstruct | <time datetime="2021-03-07 20:00">7 Martie 2021</time></small>
<div id="watermark">IONESCU IOAN</div>