
<label id="hamburger" for="ch-menu"><span class="fas fa-bars fa-lg"></span></label>
<input id="ch-menu" type="checkbox">

<ul class="meniu">
    <li class="submeniu">
        <a href="/index" class="acasa">Acas&#259;</a>
        <ul>
            <li>
                <a href="/despre_noi">Despre noi</a>
            </li>
            <li>
                <a href="/pagina_galerie_statica">Galerie imagini</a>
            </li>
            <li>
                <a href="/pagina_galerie_animata">Galerie animata</a>
            </li>
            <li>
                <a href="/#new">Nout&#259;&#539;i</a>
            </li>
            <li>
                <a href="/#best-sellers">Cele mai cump&#259;rate produse</a>
            </li>
            <li>
                <a href="/#sales">Promo&#539;ii</a>
            </li>
        </ul>
    </li>
    <li class="submeniu">
        <a href="/produse">Produse</a>
        <ul>
            <li>
                <a href="/produse">Toate</a>
            </li>
            <li>
                <a href="/produse?tip=constructii">Construcții</a>
            </li>
            <li>
                <a href="/produse?tip=amenajari">Amenajări</a>
            </li>  
        </ul>
    </li>
    <li class="element-meniu">
        <a href="/cont">Contul meu</a>
    </li>
    <li class="element-meniu">
        <a href="/cos">Co&#351; de cump&#259;r&#259;turi</a>
    </li>
    <li class="element-meniu">
        <a href="/contact">Contact</a>
    </li>
</ul>

